<div class="auth-wrap">
  <mat-card class="auth-card">
    <h1 class="title">إدخال كلمة مرور جديدة</h1>
    <p class="subtext">البريد المرتبط: example&#64;email.com</p>


    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="auth-form" dir="rtl">
      <mat-form-field appearance="outline" class="full">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>كلمة المرور الجديدة</mat-label>
        <input matInput type="password" formControlName="newPassword" placeholder="••••••••" />
        <mat-error *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.invalid">
          يجب أن تحتوي على 8 أحرف على الأقل وتشمل رموزًا وأرقامًا.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-icon matPrefix>lock_reset</mat-icon>
        <mat-label>تأكيد كلمة المرور</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="••••••••" />
        <mat-error *ngIf="passwordForm.hasError('mismatch')">
          كلمتا المرور غير متطابقتان
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="cta full" type="submit" [disabled]="passwordForm.invalid">
        تغيير كلمة المرور
      </button>
    </form>
  </mat-card>
</div>
